/*---

Colors:

White: #FFFFFF

Black: #000000

Grays:

Non-White Gray: #F2F2F2
Very Light Gray: #EDEDED
Medium Light Gray: #DEDEDE
Light Gray: #C3C3C3
Middle Gray: #7C7C7C
Dark Gray: #3D3D3D
Very Dark Gray: #191919

Blues:

Non-White Blue: #E9F0F5
Sky Blue: #43B9BF
Mild Blue: #61ABFF
Medium Blue: #7DABFF
Light Blue: #9FDCFF

Greens:

Light Green: #6EFF81
Light Mint Green: #9CF3CC
Non-White Green: #DAFFDA
Medium Green: #0DA830

Purples:

Light Purple: #C89EFF
Lavender: #C291E5

Yellows:

Yellow: #FFFF49

Reds:

Bright Red: #FF0D1D
Light Red: #FF2F35
Salmon: #FF615F

------------------------------

Fonts:

Roboto

*/

html {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: "Roboto Normal 400", "Roboto", sans-serif;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    position: absolute;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    text-align: center;
    background-color: #7DABFF;
    padding: 0px;
    color: #3D3D3D;
}



/* General Formatting */



#wrapper {
	min-height: 100%;
	position: relative;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	font-weight: bold;
}

li {
	list-style-type: solid circle;
	margin: 5px;
	line-height: 20px;
}

.center {
	width: 80%;
	height: 100%;
	margin-left: 10%;
	margin-right: 10%;
}



/* Header */



.header {
	height: 40px;
	line-height: 40px;
    width: 100%;
    background-color: #3D3D3D;
    margin: 0px;
    text-align: center;
    position: relative;
    font-size: 18px;
    color: #909090;
}

.stat1 {
	width: 15%;
	text-align: left;
	float: left;
	display: table-cell;
	vertical-align: middle;
}

.stat2 {
	width: 15%;
	text-align: center;
	float: left;
	display: table-cell;
	vertical-align: middle;
}

.stat3 {
	width: 15%;
	text-align: right;
	float: left;
	display: table-cell;
	vertical-align: middle;
}

.stat4 {
	width: 15%;
	text-align: center;
	float: right;
	display: table-cell;
	vertical-align: middle;
}

.stat5 {
	width: 15%;
	text-align: center;
	float: right;
	display: table-cell;
	vertical-align: middle;
}

.headerlink {
	color: inherit;
	float: right;
	margin-right: 5%;
	/*
	border-left: solid;
	border-right: solid;
	padding-left: 5px;
	padding-right: 5px;
	*/
}

.headerlink:hover {
	color: #7DABFF;
	text-decoration: none;
	font-size: inherit;
	font-weight: normal;
}



/* Banner Logo and Formatting */



.banner {
	height: 150px;
    width: 100%;
    /* background-color: #636363; */
    background-color: #303030;
    margin: 0px;
    text-align: center;
    position: relative;
}

.bannerlogo {
	margin-top: 15px;
	height: 120px;
	width: 300px;
	text-align: center;
	float: left;
	display: table-cell;
	line-height: 120px;
	vertical-align: middle;
	border: 2px solid;
	border-color: #7DABFF;
	border-radius: 2px;
	position: absolute;
	color: #3D3D3D;
	-moz-box-shadow: 0px 0px 5px 1px #000000;
	-webkit-box-shadow: 0px 0px 5px 1px #000000;
	box-shadow: 0px 0px 5px 1px #000000;
}

.bannerlogo:hover {
	border-color: #3D3D3D;
}

.bannerspace {
	height: 120px;
	width: 60%;
	float: right;
	margin-top: 15px;
}



/* Navigation Menu */



.menubar {
	height: 35%;
	width: 100%;
	display: inline-block;
	margin-right: 0px;
	margin-bottom: 15px;
	padding-right: 0px;
	float: right;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.menubutton {
	float: left;
	line-height: 25px;
	font-size: 20px;
	font-weight: bold;
	height: 100%;
	width: 18.4%;
	color: #3D3D3D;
	border: solid 2px;
	background-color: #F2F2F2;
	border-color: #7DABFF;
	border-radius: 2px;
	margin-left: 2%;
	cursor: pointer;
	outline: none;
	-moz-box-shadow: 0px 0px 5px 1px #000000;
	-webkit-box-shadow: 0px 0px 5px 1px #000000;
	box-shadow: 0px 0px 5px 1px #000000;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#firstmenubutton {
	margin-left: 0px;
}

#lastmenubutton {
	margin-right: 0px;
}

.menubutton:hover {
	border-color: #3D3D3D;
	-moz-box-shadow: 0px 0px 5px 1px #000000;
	-webkit-box-shadow: 0px 0px 5px 1px #000000;
	box-shadow: 0px 0px 5px 1px #000000;
}

.menubutton:active {
	font-size: 18px;
}



/* Wealth Bar - Displays Credits */



.wealthbar {
	display: inline-block;
	float: right;
	line-height: 33px;
	height: 55%;
	width: 100%;
	color: #3D3D3D;
	font-weight: bold;
	border: 2px solid;
	border-color: #7DABFF;
	border-radius: 2px;
	background-color: #F2F2F2;
	-moz-box-shadow: 0px 0px 5px 1px #000000;
	-webkit-box-shadow: 0px 0px 5px 1px #000000;
	box-shadow: 0px 0px 5px 1px #000000;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#textblock {
	padding-left: 1%;
	margin-left: 1%;
	text-align: left;
	float: left;
	width: 48%;
}

#numberblock {
	padding-right: 1%;
	margin-right: 1%;
	text-align: right;
	float: right;
	width: 48%;
}



/* Content Body Formatting */



#underbody {
	height: 100%;
	width: 100%;
	/* background-color: #C3C3C3; */
	background-color: #303030;
	border-color: #3D3D3D;
	border-top: none;
	border-bottom: none;
	padding-top: 30px;
	color: #3D3D3D;
}

.underbodycenter {
	height: 100%;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 30px;
}



/* Content Part 1 - Call To Arms */



#callblock {
	width: 99.5%;
	border: 2px solid;
	/* border-color: #3D3D3D; */
	border-color: #7DABFF;
	border-radius: 2px;
	padding-bottom: 20px;
	background-color: #F2F2F2;
	-moz-box-shadow: 0px 0px 5px 1px #000000;
	-webkit-box-shadow: 0px 0px 5px 1px #000000;
	box-shadow: 0px 0px 5px 2px #000000;
}

#callbutton {
	line-height: 25px;
	font-size: 20px;
	font-weight: bold;
	height: 100%;
	width: 18%;
	color: #7DABFF;
	border: solid 2px;
	background-color: #F2F2F2;
	border-color: #7DABFF;
	border-radius: 2px;
	margin: auto;
	cursor: pointer;
	outline: none;
}

#callbutton:hover {
	color: #3D3D3D;
	border-color: #3D3D3D;
	-moz-box-shadow: 0px 0px 5px 1px #000000;
	-webkit-box-shadow: 0px 0px 5px 1px #000000;
	box-shadow: 0px 0px 5px 1px #000000;
}

#callbutton:active {
	font-size: 18px;
}



/* Content Part 2 - Features */



#featuresblock {
	width: 100%;
}

.tricolumn {
	margin-top: 30px;
	display: inline-block;
	width: 30%;
	height: 400px;
	background-color: #F2F2F2;
	border: solid 2px;
	/* border-color: #3D3D3D; */
	border-color: #7DABFF;
	border-radius: 2px;
	padding-top: 25px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 25px;
	-moz-box-shadow: 0px 0px 5px 1px #000000;
	-webkit-box-shadow: 0px 0px 5px 1px #000000;
	box-shadow: 0px 0px 5px 2px #000000;
}

#tricolumn1 {
	float: left;
	margin-right: 2%;
}

tricolumn2 {
	margin-left: 1%;
	margin-right: 1%;
}

#tricolumn3 {
	float: right;
	margin-left: 2%;
}

.tricolumn img {
	display: block;
	margin: auto;
}

.tricolumn h2 {
	text-align: center;
	color: #3D3D3D;
}



/* Content Part 3 - Bitcoin Tutorial */



#tutorialblock {
	width: 100%;
	height: 500px;
	margin-top: 30px;
	border: 2px solid;
	border-color: #7DABFF;
	border-radius: 2px;
	background-color: #F2F2F2;
	margin-bottom: 30px;
	overflow: auto;
	-moz-box-shadow: 0px 0px 5px 1px #000000;
	-webkit-box-shadow: 0px 0px 5px 1px #000000;
	box-shadow: 0px 0px 5px 2px #000000;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#tutorialblockheader {
	width: 100%;
	background-color: #7DABFF;
	line-height: 40px;
}

#tutorialblockheader h3{
	margin: 0px;
}

.tutorialbar {
	width: 100%;
	line-height: 30px;
	height: 35px;
}

.tutorialbutton {
	height: 35px;
	margin: 0px;
	width: 25%;
	float: left;
	display: inline-block;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: #3D3D3D;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tutorialbutton:hover {
	background-color: #7DABFF;
	border-top: none;
	cursor: pointer;
	padding-top: 2px;
}

.tutorialbutton:hover:not(:first-child):not(last-child) {
	border-left: 2px solid;
	border-right: 2px solid;
}

#tutorial1:hover {
	border-top: none;
	border-left: none;
	border-right: 2px solid;
	padding-left: 2px;
}

#tutorial4:hover {
	border-top: none;
	border-right: none;
	border-left: 2px solid;
	padding-right: 2px;
}

#tutorialcontent {
	padding: 30px;
	padding-top: 40px;
	line-height: 50px;
}



/* Content Part 4 - Order Book Tables */



#orderbook {
	margin-top: 5px;
	margin-bottom: 25px;
	margin-left: -5px;
	margin-right: -5px;
	padding: 5px;
	overflow: auto;
}

#leftbasicorderswrapper {
	display: inline-block;
	width: 48%;
	float: left;
	-moz-box-shadow: 0px 0px 5px 1px #000000;
	-webkit-box-shadow: 0px 0px 5px 1px #000000;
	box-shadow: 0px 0px 5px 1px #000000;
}

#rightbasicorderswrapper {
	display: inline-block;
	width: 48%;
	float: right;
	-moz-box-shadow: 0px 0px 5px 1px #000000;
	-webkit-box-shadow: 0px 0px 5px 1px #000000;
	box-shadow: 0px 0px 5px 1px #000000;
}

#orderbook table {
	width: 100%;
	background-color: #F2F2F2;
	border: 2px solid;
	border-color: #7DABFF;
	border-radius: 2px;
	border-collapse: separate;
	border-spacing: 0px;
}

#orderbook table th {
	border-bottom: 2px solid;
	border-color: #3D3D3D;
	padding: 5px;
}

#orderbook table td {
	padding: 3px;
	text-align: left;
}

#orderbook table tr:not(:first-child):hover {
	background-color: #7DABFF;
	cursor: pointer;
}


/* Note: Does not work (Should apply light gray border to bottom of table rows except for last row)

#orderbook table tr:not(:last-child) {
	border-bottom: 2px solid;
	border-color: #000000;
}
*/

#leftbasicorders {
	width: 40%;
}

#rightbasicorders {
	width: 40%;
}



/* Footer */



.footer {
	background-color: #3D3D3D;
	color: #7C7C7C;
	border-top: 2px solid;
	border-color: #3D3D3D;
	position: relative;
	height: 230px;
	list-style-type: none;
	font-size: 15px;
	clear: both;
}

.footercolumn {
	width: 24%;
	height: 150px;
	display: inline-block;
}

.footercolumn li:hover {
	color: #7DABFF;
	cursor: pointer;
}

#footerlanguages {
	width: 100%;
	height: 50px;
	line-height: 50px;
}

#footerlanguages li {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
}

#footerlanguages li:hover {
	color: #7DABFF;
	cursor: pointer;
}








