<!DOCTYPE html>

<html>
    <head>
        <!-- TITLE BLOCK -->
        <title>{% block title %}BitSomething{% endblock %}</title>
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
        <meta charset="utf-8">
        <script src="{{ STATIC_URL }}scripts/lockheader.js" type="text/javascript"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        <!-- START STATIC BLOCK -->
        {% block static %}
        
        <link type="text/css" rel="stylesheet" href="../static/base_active.css"/>
        
        {% endblock %}
        <!-- END STATIC BLOCK -->
        
    </head>
    <body>
        <div id="wrapper">
            
            <!-- START HEADER BLOCK -->
            {% block header %}
            
            <div id="header">
                <!--Header Bar (Top) - "Stats" on PD--> 
                <div class="center">
                    <div class="statdescription" id="statdescription1">
                        <p>Bid</p>
                    </div>
                    <div class="statvalue" id="statvalue1">
                        <p>{{ bid_price }}</p>
                    </div>
                    <div class="statdescription" id="statdescription2">
                        <p>Latest</p>
                    </div>
                    <div class="statvalue" id="statvalue2">
                        <p>{{ latest_price }}</p>
                    </div>
                    <div class="statdescription" id="statdescription3">     
                        <p>Ask</p>
                    </div>
                    <div class="statvalue" id="statvalue3">
                        <p>{{ ask_price }}</p>
                    </div>
                    <div id="logo">
                        <!-- <img src=../static/images/graylogosmall.png style=width:128px;height:40px;> -->
                        <a href="/active/">BitSomething</a>
                    </div>
                    <div class="statdescription" id="statdescription5">
                        <ul>
                            <li id="control"><a class="headerlink" href="/active/account/">{{ user.username }}</a>
                                <ul id="controlinner">
                                    <a class="controllink" href="/active/account/"><li>Orders</li></a>
                                    <a class="controllink" href="/active/account/"><li>MTC's</li></a>
                                    <a class="controllink" href="/active/account/"><li>Loans</li></a>
                                    <a class="controllink" href="/active/account/"><li>Private Trades</li></a>
                                    <a class="controllink" href="/active/logout/"><li>Logout</li></a>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="statvalue" id="statvalue7">
                        <p>{{ usd_balance }}</p>
                    </div>
                    <div class="statdescription" id="statdescription7">
                        <p>USD</p>
                    </div>
                    <div class="statvalue" id="statvalue6">
                        <p>{{ btc_balance }}</p>
                    </div>
                    <div class="statdescription" id="statdescription6">
                        <p>BTC</p>
                    </div>
                </div>
                <div id="lockbuttonwrapper">
                    <input id="lockbutton" type="button" onclick="lock()" value="Unlock">
                </div>
            </div>
            
            {% endblock %}
            <!-- END HEADER BLOCK -->
            
            <div id="centerwrapper">
                
                <!-- START MENU BLOCK -->
                {% block menu %}
                
                <!--Menu Bar (Middle) - "Banner" on PD-->
                <div id="menubar">
                   <form name="input" action="/active/" method="get">
                        <input class="menubutton" id="firstmenubutton" type="submit" value="Home">
                    </form>
                    <form name="input" action="/active/trading/" method="get">
                        <input class="menubutton" type="submit" value="Trade">
                    </form>
                    <form name="input" action="/active/orderbook/" method="get">
                        <input class="menubutton" id="middlemenubutton" type="submit" value="Orders">
                    </form>
                    <form name="input" action="/active/account/" method="get">
                        <input class="menubutton" type="submit" value="Account">
                    </form>
                    <form name="input" action="/active/about/" method="get">
                        <input class="menubutton" id="lastmenubutton" type="submit" value="About">
                    </form>
                </div>
                
                {% endblock %}
                <!-- END MENU BLOCK -->
                
                <div id="underbody">
                    <div id="underbodycenter">
                        
                        <!-- START CONTENT BLOCK -->
                        {% block content %}
                        
                        {% endblock %}
                        <!-- END CONTENT BLOCK -->
                        
                    </div>
                </div>
            </div>
            
            <!-- START FOOTER BLOCK -->
            {% block footer %}
            
            <div class="footer">
                <div class="footercolumn">
                    <h2>Social</h2>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Google+</li>
                </div>
                <div class="footercolumn">
                    <h2>Legal</h2>
                    <li>License</li>
                    <li>Terms and Conditions</li>
                    <li>Copyright</li>
                </div>
                <div class="footercolumn">
                    <h2>Help</h2>
                    <li>FAQ</li>
                    <li>Submit A Ticket</li>
                    <li>Address</li>
                </div>
                <div class="footercolumn">
                    <h2>API</h2>
                    <li>Download</li>
                    <li>Documentation</li>
                    <li>Help Improve It</li>
                </div>
                <div id="footerlanguages">
                    <li>English</li>
                    <li>Deutsch</li>
                    <li>ру́сский</li>
                </div>
            </div>
            
            {% endblock %}
            <!-- END FOOTER BLOCK -->
            
        </div>
    </body>
</html>