{% extends "base_active.html" %}

{% block title %}BitSomething - Account{% endblock %}

{% block static %}
<link type="text/css" rel="stylesheet" href="/static/Account2.css"/>
<script src="/static/scripts/accounttopicselect.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div id="accountblock">
    <div id="accountblockheader">
        <h3>Account Control Panel</h3>
    </div>
    <div id="accountblocknavigation">
        <ul>
            <li>
                <input class="navigationselect" id="navigationselect1" type="button" value="Overview" style="color: #7DABFF;">
                <ul class="innerlist">
                    <li><input class="navigationselectinner1" type="button" value="Balances"></li>
                    <li><input class="navigationselectinner1" type="button" value="Open Basic Orders"></li>
                    <li><input class="navigationselectinner1" type="button" value="Current MTC's"></li>
                    <li><input class="navigationselectinner1" type="button" value="Current Loans"></li>
                    <li><input class="navigationselectinner1" type="button" value="Open Private Trades"></li>
                    <li><input class="navigationselectinner1" type="button" value="History"></li>
                    <li><input class="navigationselectinner1" type="button" value="Statistics"></li>
                </ul>
            </li>
            <li>
                <input class="navigationselect" id="navigationselect2" type="button" value="Actions">
                <ul class="innerlist">
                    <li><input class="navigationselectinner2" type="button" value="Make a Deposit"></li>
                    <li><input class="navigationselectinner2" type="button" value="Make a Withdrawal"></li>
                    <li><input class="navigationselectinner2" type="button" value="Bank Information"></li>
                    <li><input class="navigationselectinner2" type="button" value="Open a Support Ticket"></li>
                </ul>
            </li>
            <li>
                <input class="navigationselect" id="navigationselect3" type="button" value="Settings">
                <ul class="innerlist">
                    <li><input class="navigationselectinner3" type="button" value="Preferences"></li>
                    <li><input class="navigationselectinner3" type="button" value="Update Account"></li>
                    <li><input class="navigationselectinner3" type="button" value="Default Behaviors"></li>
                </ul>
            </li>
            <li><input class="navigationselect" id="navigationselect4" type="button" value="Public Profile"></li>
        </ul>
    </div>
    <div class="accountblockcontent" id="content1">
        <h2>Overview</h2>
        <p>This is your account panel. Here you will find all information relevant to your BitSomething account. Each 
           section on the right contains any information you will need to trade efficiently. Here are some 
           things about your account that you should know:</p>
        <ul>
            <li>Verified: [Insert Yes/No]</li>
            <li>Connected to Bank Account: [Insert Yes/No]</li>
            <li>Basic Orders Open: [Insert Count]</li>
            <li>MTC's Open: [Insert Count]</li>
            <li>Loans Open: [Insert Count]</li>
            <li>Private Trades Open: [Insert Count]</li>
            <li>Pending Payments: [Insert Count]</li>
        </ul>
    </div>
    <div class="accountblockcontent" id="content2">
        <h2>Balances</h2>
        <p>This page will contain all of your account balances and credits. Please note that these balances currently
           reflect all currency that you will have deposited to your account after all transactions have been 
           confirmed and the payment is sent. Balances to reflect currently available funds will be added later.</p>
        <div id="currencybalances">
            <h3>Currencies</h3>
            <ul>
                <li><b>USD:</b> {{ usd_balance }}</li>
            </ul>
        </div>
        <div id="cryptobalances">
            <h3>Cryptocurrencies</h3>
            <ul>
                <li><b>BTC:</b> {{ btc_balance }}</li>
            </ul>
        </div>
    </div>
    <div class="accountblockcontent" id="content3">
        <h2>Basic Orders</h2>
        {% for order in order_list %}
        <div class="orderticket">
            <h3>Order {{ order.0 }}</h3>
            <ul>
                <li><b>Type:</b> {{ order.4 }}</li>
                <li><b>Action:</b> {{ order.5 }}</li>
                <li><b>Price:</b> {{ order.2 }}</li>
                <li><b>Volume:</b> {{ order.3 }}</li>
                {% if order.4 == "Conditional" %}
                <li><b>Condition:</b> {{ order.6 }}</li>
                <li><b>Value:</b> {{ order.7 }}</li>
                {% endif %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="accountblockcontent" id="content4">
        <h2>MTC's</h2>
        <p>[Insert MTC information here]</p>
    </div>
    <div class="accountblockcontent" id="content5">
        <h2>Loans</h2>
        <p>[Insert loan information here]</p>
    </div>
    <div class="accountblockcontent" id="content6">
        <h2>Private Trades</h2>
        <p>[Insert private trade information here]</p>
    </div>
    <div class="accountblockcontent" id="content7">
        <h2>History</h2>
        <p>This page contains all of your account history. Every time you make a Basic Order, MTC, Loan, or Private Trade, 
           this page will be updated to display that. Every time one of your orders is transacted, or you send/receive a 
           payment, it will also be reflected here.</p>
        <div id="accounthistory">
            <h3>Account History</h3>
            <ul>
                {% for action in account_history_list %}
                <li>{{ action }}</li>
                {% endfor %}
            </ul>
            {% if account_history_list == None %}
            <p>No History</p>
            {% endif %}
        </div>
        <div id="basicorderhistory">
            <h3>Basic Order History</h3>
            <ul>
                {% for action in basic_order_history_list %}
                <li>{{ action }}</li>
                {% endfor %}
            </ul>
            {% if basic_order_history_list == None %}
            <p style="text-align: center;">No History</p>
            {% endif %}
        </div>
        <div id="mtchistory">
            <h3>MTC History</h3>
            <ul>
                {% for action in mtc_history_list %}
                <li>{{ action }}</li>
                {% endfor %}
            </ul>
            {% if mtc_history_list == None %}
            <p style="text-align: center;">No History</p>
            {% endif %}
        </div>
        <div id="loanhistory">
            <h3>Loan History</h3>
            <ul>
                {% for action in loan_history_list %}
                <li>{{ action }}</li>
                {% endfor %}
            </ul>
            {% if loan_history_list == None %}
            <p style="text-align: center;">No History</p>
            {% endif %}
        </div>
        <div id="privatetradehistory">
            <h3>Private History</h3>
            <ul>
                {% for action in private_trade_history_list %}
                <li>{{ action }}</li>
                {% endfor %}
            </ul>
            {% if private_trade_history_list == None %}
            <p style="text-align: center;">No History</p>
            {% endif %}
        </div>
    </div>
    <div class="accountblockcontent" id="content8">
        <h2>Statistics</h2>
        <p>[Insert user statistics here]</p>
    </div>
    <div class="accountblockcontent" id="content9">
        <h2>Actions</h2>
        <p>[Insert general actions here]</p>
    </div>
    <div class="accountblockcontent" id="content10">
        <h2>Deposits</h2>
        <p>[Insert deposit information here]</p>
    </div>
    <div class="accountblockcontent" id="content11">
        <h2>Withdrawals</h2>
        <p>[Insert withdrawal information here]</p>
    </div>
    <div class="accountblockcontent" id="content12">
        <h2>Bank Information</h2>
        <p>[Insert bank information here]</p>
    </div>
    <div class="accountblockcontent" id="content13">
        <h2>Support</h2>
        <p>[Insert support information here]</p>
    </div>
    <div class="accountblockcontent" id="content14">
        <h2>Settings</h2>
        <p>[Insert general settings here]</p>
    </div>
    <div class="accountblockcontent" id="content15">
        <h2>Preferences</h2>
        <p>[Insert preferences here]</p>
    </div>
    <div class="accountblockcontent" id="content16">
        <h2>Account</h2>
        <p>[Insert account information here]</p>
    </div>
    <div class="accountblockcontent" id="content17">
        <h2>Defaults</h2>
        <p>[Insert default behaviors here]</p>
    </div>
    <div class="accountblockcontent" id="content18">
        <h2>Public Profile</h2>
        <p>[Insert public profile here]</p>
    </div>
</div>

{% endblock %}
