<!DOCTYPE html>

<html>
    <head>
        <title>BitSomething</title>
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}Homepage7.css"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}scripts/lockheader.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}scripts/homepagetutorialselect.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}scripts/homepagenewstopicselect.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <!--Header Bar (Top) - "Stats" on PD--> 
                <div class="center">
                    <div class="statdescription" id="statdescription1">
                        <p>Bid</p>
                    </div>
                    <div class="statvalue" id="statvalue1">
                        <p>{{ bid_price }}</p>
                    </div>
                    <div class="statdescription" id="statdescription2">
                        <p>Latest</p>
                    </div>
                    <div class="statvalue" id="statvalue2">
                        <p>{{ latest_price }}</p>
                    </div>
                    <div class="statdescription" id="statdescription3">     
                        <p>Ask</p>
                    </div>
                    <div class="statvalue" id="statvalue3">
                        <p>{{ ask_price }}</p>
                    </div>
                    <div id="logo">
                        <!-- <img src=../static/images/graylogosmall.png style=width:128px;height:40px;> -->
                        <a href="/active/">BitSomething</a>
                    </div>
                    <div class="statdescription" id="statdescription5">
                        <ul>
                            <li id="control"><a class="headerlink" href="/active/account/">{{ user.username }}</a>
                                <ul id="controlinner">
                                    <a class="controllink" href="/active/account/"><li>Orders</li></a>
                                    <a class="controllink" href="/active/account/"><li>MTC's</li></a>
                                    <a class="controllink" href="/active/account/"><li>Loans</li></a>
                                    <a class="controllink" href="/active/account/"><li>Private Trades</li></a>
                                    <a class="controllink" href="/active/logout/"><li>Logout</li></a>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="lockbuttonwrapper">
                    <input id="lockbutton" type="button" onclick="lock()" value="Unlock">
                </div>
            </div>
            <div id="centerwrapper">
                <!--Menu Bar (Middle) - "Banner" on PD-->
                <div id="menubar">
                   <form name="input" action="/active/" method="get">
                        <input class="menubutton" id="firstmenubutton" type="submit" value="Home">
                    </form>
                    <form name="input" action="/active/trading/" method="get">
                        <input class="menubutton" type="submit" value="Trade">
                    </form>
                    <form name="input" action="/active/orderbook/" method="get">
                        <input class="menubutton" id="middlemenubutton" type="submit" value="Orders">
                    </form>
                    <form name="input" action="/active/account/" method="get">
                        <input class="menubutton" type="submit" value="Account">
                    </form>
                    <form name="input" action="/active/about/" method="get">
                        <input class="menubutton" id="lastmenubutton" type="submit" value="About">
                    </form>
                </div>
                <div id="underbody">
                    <div id="underbodycenter">
                        <div id="newsblock">
                            <div id="newsblockheader">
                                <h3>BitSomething News</h3>
                            </div>
                            <div id="newsblocknavigation">
                                <ul>
                                    <li><input class="newsselect" id="statement" type="button" value="Statement"></li>
                                    <!-- Example news topic -->
                                    <li><input class="newsselect" type="button" value="Welcome"></li>
                                    {% for news in news_list %}
                                    <li><input class="newsselect" type="button" value="{{ news.topic }}"></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="newsblockcontent" id="content1" style="display: inline-block;">
                                <h2>News Selection</h2>
                                <p>Please select the article you wish to view from the navigation bar to the left. 
                                All of these articles are published by BitSomething employees and are considered official 
                                documents from the exchange. We recommend that you try to stay up to date with the news 
                                by checking this page for new notices periodically in order to be aware of any important 
                                changes or updates. The following is the color code for the navigation bar:</p>
                                <ul>
                                    <li>Normal messages are <b>gray</b></li>
                                    <li>New features or changes are <span style="color: #5EC454"><b>green</b></span></li>
                                    <li>Recommended actions are <span style="color: #C291E5"><b>purple</b></span></li>
                                    <li>Important notices are <span style="color: #FF615F"><b>red</b></span></li>
                                </ul>
                            </div>
                            <!-- Example news piece -->
                            <div class="newsblockcontent" id="content2">
                                <h2>Welcome</h2>
                                <p>Welcome to the Bitsomething exchange homepage! The site is currently under construction, and this sample
                                news piece will serve as an introduction. I'm Mal, the only current developer, and this project was first started in January of 2014.
                                It started small, when I sketched out the exchange engine code in a few weeks. I then built it up to what it
                                is now: a nearly operational Bitcoin exchange! Most of the very basic functions are complete. Here's a list
                                of mostly finished features:</p>
                                <ul>
                                    <li>User Control - Registering/Logging in</li>
                                    <li>Basic Orders - Placing, transacting, and seeing open orders in Account</li>
                                    <li>Guest Pages - Non-registered users can view the guest homepage and the About pages</li>
                                </ul>
                                <span>These are the things that are currently on the to-do list:</span>
                                <ul>
                                    <li>Enable logging out</li>
                                    <li>Finish About page</li>
                                    <li>Start linking Account to account statistics</li>
                                    <li>Make order book more informative</li>
                                    <li>Add Personal Control Panel</li>
                                    <li>Add admin page options for adding orders, users, and news blocks</li>
                                    <li>Add petition system</li>
                                </ul>
                                <br><span id="signature">-Mal</span>
                            </div>
                            {% for news in news_list %}
                            <div class="newsblockcontent">
                                <h2>{{ news.topic }}</h2>
                                <p>{{ news.topic }}</p>
                                <span>-{{ news.author }}</span>
                            </div>
                            {% endfor %}
                        </div>
                        <div id="orderbook">
                            <div id="leftbasicorderswrapper">
                                <div id="leftbasicordersheader">
                                    <h3>Top Buy Orders</h3>
                                </div>
                                <table class="basicorders" id="leftbasicorders">
                                  <tr>
                                    <th>Order</th>
                                    <th>Type</th>
                                    <th>Price</th> 
                                    <th>Volume</th>
                                  </tr>
                                  {% for order in buy_order_list %}
                                  <tr>
                                    <td>{{ order.ordernumber.idnumber}}</td>
                                    <td>{{ order.type }}</td>
                                    <td>{{ order.price }}</td> 
                                    <td>{{ order.volume}}</td>
                                  </tr>
                                  {% empty %}
                                  <tr>
                                    <td>No Orders</td>
                                    <td>-</td> 
                                    <td>-</td>
                                    <td>-</td>
                                  </tr>
                                  {% endfor %}
                                </table>
                            </div>
                            <div id="rightbasicorderswrapper">
                                <div id="rightbasicordersheader">
                                    <h3>Top Sell Orders</h3>
                                </div>
                                <table class="basicorders" id="rightbasicorders">
                                  <tr>
                                    <th>Order</th>
                                    <th>Type</th>
                                    <th>Price</th> 
                                    <th>Volume</th>
                                  </tr>
                                  {% for order in sell_order_list %}
                                  <tr>
                                    <td>{{ order.ordernumber.idnumber}}</td>
                                    <td>{{ order.type }}</td>
                                    <td>{{ order.price }}</td> 
                                    <td>{{ order.volume}}</td>
                                  </tr>
                                  {% empty %}
                                  <tr>
                                    <td>No Orders</td>
                                    <td>-</td> 
                                    <td>-</td>
                                    <td>-</td>
                                  </tr>
                                  {% endfor %}
                                </table>
                            </div>
                        </div>
                        <div id="tutorialblock">
                            <div id="tutorialblockheader">
                                <h3>What is Bitcoin?</h3>
                            </div>
                            <div class="tutorialbar">
                                <div class="tutorialbutton" id="tutorial1">
                                    What is Bitcoin?
                                </div>
                                <div class="tutorialbutton" id="tutorial2">
                                    How does it work?
                                </div>
                                <div class="tutorialbutton" id="tutorial3">
                                    Why use it?
                                </div>
                                <div class="tutorialbutton" id="tutorial4">
                                    Why use us?
                                </div>
                            </div>
                            <div id="tutorialcontent">
                                <h1>A Financial Transformation</h1>
                                <p>Bitcoin was the first cryptocurrency; that is, a digitally stored currency. 
                                It's stored on computers, like any other piece of data, and can be transferred 
                                anywhere in the world for less fees than a credit card. It's based on a protocol called the "Blockchain," which is 
                                a registry of all transactions ever conducted. This enables Bitcoin, and 
                                its other cryptocurrency children, to be a safer, faster, and more reliable way to 
                                pay and store value.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="footercolumn">
                    <h2>Social</h2>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Google+</li>
                </div>
                <div class="footercolumn">
                    <h2>Legal</h2>
                    <li>License</li>
                    <li>Terms and Conditions</li>
                    <li>Copyright</li>
                </div>
                <div class="footercolumn">
                    <h2>Help</h2>
                    <li>FAQ</li>
                    <li>Submit A Ticket</li>
                    <li>Address</li>
                </div>
                <div class="footercolumn">
                    <h2>API</h2>
                    <li>Download</li>
                    <li>Documentation</li>
                    <li>Help Improve It</li>
                </div>
                <div id="footerlanguages">
                    <li>English</li>
                    <li>Deutsch</li>
                    <li>ру́сский</li>
                </div>
            </div>
        </div>
    </body>
</html>