/*

Colors:

White: #FFFFFF

Black: #000000

Grays:

Non-White Gray: #F2F2F2
Light Gray: #C3C3C3
Middle Gray: #7C7C7C
Dark Gray: #3D3D3D

Blues:

Non-White Blue: #E9F0F5
Sky Blue: #43B9BF
Light Blue: #9FDCFF

Greens:

Light Green: #6EFF81
Light Mint Green: #9CF3CC
Non-White Green: #DAFFDA
Medium Green: #0DA830

Purples:

Lavender: #C291E5

Yellows:

Yellow: #FFFF49

Reds:

Bright Red: #FF0D1D
Light Red: #FF2F35
Salmon: #FF615F

------------------------------

Fonts:

Roboto

*/

html {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: "Roboto Normal 400", "Roboto", sans-serif;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    text-align: center;
    background-color: #9FDCFF;
    padding: 0px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}


a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	font-weight: bold;
}

.center {
	width: 80%;
	height: 100%;
	margin-left: 10%;
	margin-right: 10%;
	position: absolute;
}

.header {
	height: 40px;
	line-height: 40px;
    width: 100%;
    background-color: #3D3D3D;
    margin: 0px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #191919;
    position: relative;
    font-size: 18px;
    color: #909090;
}

.stat1 {
	width: 15%;
	text-align: left;
	float: left;
	display: table-cell;
	vertical-align: middle;
}

.stat2 {
	width: 15%;
	text-align: center;
	float: left;
	display: table-cell;
	vertical-align: middle;
}

.stat3 {
	width: 15%;
	text-align: right;
	float: left;
	display: table-cell;
	vertical-align: middle;
}

.stat4 {
	width: 15%;
	text-align: center;
	float: right;
	display: table-cell;
	vertical-align: middle;
}

.stat5 {
	width: 15%;
	text-align: center;
	float: right;
	display: table-cell;
	vertical-align: middle;
}

.headerlink {
	color: inherit;
	float: right;
	margin-right: 5%;
	/*
	border-left: solid;
	border-right: solid;
	padding-left: 5px;
	padding-right: 5px;
	*/
}

.headerlink:hover {
	color: #9FDCFF;
	text-decoration: none;
	font-size: inherit;
	font-weight: normal;
}

.menubar {
	height: 45%;
	width: 100%;
	display: inline-block;
}

.menubutton {
	float: left;
	line-height: 25px;
	font-size: 20px;
	font-weight: bold;
	height: 100%;
	width: 18%;
	color: #3D3D3D;
	border: solid;
	background-color: #F2F2F2;
	border-color: #3D3D3D;
	border-radius: 2px;
	margin-right: 1%;
	margin-left: 1%;
	cursor: pointer;
}

.menubutton:hover {
	border-color: #9FDCFF;
}

.menubutton:active {
	font-size: 18px;
}

#formcenter {
	margin-left: 35%;
	margin-right: 35%;
	width: 30%;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid black;
	text-align: center;
	background-color: #7C7C7C;
}

#registerheader {
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #191919;
}

.registertext {
	height: 32px;
	width: 240px;
	margin-top: 10px;
	font-size: 20px;
	padding: 2px;
	padding-left: 7px;
	color: #3D3D3D;
	border: solid;
	border-color: #3D3D3D;
	border-radius: 2px;
	background-color: #F2F2F2;
	outline: none;
}

.registertext:hover {
	border-color: #9FDCFF;
}

.registertext:active {
	font-size: 20px;
}

.registertext:focus {
	-moz-box-shadow: 0px 0px 5px 1px #000000;
	-webkit-box-shadow: 0px 0px 5px 1px #000000;
	box-shadow: 0px 0px 5px 1px #000000;
}

.registertext:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #F2F2F2 inset;
}

#registersubmit {
	font-size: 18px;
	font-weight: bold;
	height: 42px;
	width: 255px;
	color: #3D3D3D;
	border: solid;
	background-color: #C3C3C3;
	border-color: #3D3D3D;
	border-radius: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	outline: none;
	cursor: pointer;
}

#registersubmit:hover {
	color: #171717;
	border-color: #171717;
}

#registersubmit:active {
	font-size: 15px;
	-moz-box-shadow: 0px 0px 5px 1px #000000;
	-webkit-box-shadow: 0px 0px 5px 1px #000000;
	box-shadow: 0px 0px 5px 1px #000000;
}

#registersubmit:focus {
	-moz-box-shadow: 0px 0px 5px 1px #000000;
	-webkit-box-shadow: 0px 0px 5px 1px #000000;
	box-shadow: 0px 0px 5px 1px #000000;
}



