{% extends "base_active.html" %}

{% block title %}BitSomething - Register{% endblock %}

{% block static %}

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}RegisterSuccess2.css">

{% endblock %}

{% block content %}

<div id="messageblock">
    <div id="messageblockheader">
        <h3>Registration Successful</h3>
    </div>
    <div id="messageblockcontent">
        <p>Your registration was successful. Your username is {{ user.username }}. Now that you have an account, here are some of the things you can do:</p>
        <ul>
            <li><a href="/active/trading/">Start trading</a></li>
            <li><a href="/active/account/">Configure your account settings</a></li>
            <li><a href="/active/homepage/">See the latest BitSomething messages on our homepage</a></li>
            <li><a href="/active/about/">Read about BitSomething, Bitcoin, and more</a></li>
        </ul>
    </div>
</div>

{% endblock %}
